* {
  /* 页面初始化，清楚元素的内外边距 */
  padding: 0;
  margin: 0;
}
body {
  /* 弹性布局 让元素再页面中垂直+水平居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 让页面占浏览器可视区域的高度 */
  height: 100vh;
  background-color: #00034b;
}
.container .ghost {
  /* 相对定位 */
  position: relative;
  width: 150px;
  height: 225px;
  /* 圆角数组 ,左上角和右上角为圆角*/
  border-radius: 75px 75px 0 0;
  background-color: #fff;
  /* 盒子阴影，inset是内阴影，不加是默认的外阴影outset */
  box-shadow: -17px 0px 0px 0px #dbdbdb inset, 0 0 50px #5939db;
  animation: ghost 2s infinite;
}
/* 眼睛 start*/
.container .ghost .ghostEyes {
  display: flex;
  /* 平均分布，周围都保留空格 */
  justify-content: space-around;
  width: 90px;
  padding-top: 70px;
  margin: 0 auto;
}
/* 利用伪元素画出卡姿兰大眼睛 */
.container .ghost .ghostEyes::before,
.container .ghost .ghostEyes::after {
  content: '';
  height: 25px;
  width: 15px;
  border-radius: 50%;
  background-color: #00034b;
}
/* 眼睛 end */
/* 腮红 start */
/* 逻辑参考眼睛部分 */
.container .ghost .ghostDimples {
  display: flex;
  justify-content: space-around;
  width: 130px;
  padding-top: 15px;
  margin: 0 auto;
}
.container .ghost .ghostDimples::after,
.container .ghost .ghostDimples::before {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ffbeff;
}
/* 腮红 end */
/* 脚 start */
.container .ghost .ghostFeet {
  /* 这个主要是要让四只脚水平排列 */
  display: flex;
  /* 绝对定位 */
  position: absolute;
  bottom: -13px;
  width: 100%;
}
.container .ghost .ghostFeet .ghostFoot {
  width: 25%;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
}
/* 设置以下最后一个foot，让它跟身体的内阴影一样 */
.container .ghost .ghostFeet .ghostFoot:last-child {
  /* 利用背景渐变实现to right的渐变 */
  background-image: linear-gradient(to right, #fff 55%, #dbdbdb 45%);
}
/* 脚 end */
/* 阴影 start */
.container .shadow {
  width: 150px;
  height: 40px;
  margin-top: 50px;
  border-radius: 50%;
  background-color: #000232;
  animation: shadow 2s infinite;
}
/* 阴影 end */
/* 然后制作漂浮的动画 */
@keyframes ghost {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    /* 2d位移，负数是向上走 */
    transform: translateY(-15px);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}
